*,
*::before,
*::after {
    box-sizing: border-box;
}
*:focus:not(:focus-visible) {
    outline: none;
}
html,body {
    font-size: 62.5%;
}
body {
    background: url('../img/background.jpg');
}
.header {
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
    width: 113.5rem;
    margin: 0 auto;
} 

.header__menu {
    display: flex;
    align-items: center

}
.header__logo {
    width: 7.9rem;
    height: 2.8rem;
    margin-right: 3.9rem;
}
.header__nav a:not(:last-child) {
    margin-right: 2.4rem;
}
.header__nav a {
    color: #fff;
    text-decoration: none;
}
.header__social-icon {
    width: 1.7rem;
    height: 1.6rem;
}
.header__social-icon:not(:last-child) {
    margin-right: 2rem;
}
.footer {
    background: #030102;
    color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center
}
.footer_menu {
    padding-left: 0;
    display: flex;
}
.footer_menu li {
    list-style: none;
} 
.footer_menu li a{
    color: #fff;
    text-decoration: none;
}
.footer_menu li:not(:last-child) {
    margin-right: 2.5rem;
}
